* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #7D7F84;
  font-size: 15px;
}

h2 {
  font-size: 25px;
  padding: 25px 0px 0px 20px;
  color: #FFFFFF;
}

h3 {
  font-size: 18px;
  color: #FFFFFF;
}

h5 {
  color: #FFFFFF;
}

p {
  padding: 0 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.list_style_none {
  list-style: none;
}

.wrapper {
  display: flex;
  height: calc(100vh - 90px);
  width: 100%;
}

nav {
  height: 100%;
  width: 250px;
  padding: 10px 20px;
  background-color: #000000;
}

.nav_top {
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
}
.nav_bottom {
  width: 100%;
  height: 50px;
}

.logo_spotify {
  line-height: 70px;
  padding-bottom: 15px;
  cursor: pointer;
}
.logo_spotify i {
  font-size: 40px;
  vertical-align: middle;
  color: #FFFFFF;
}
.logo_spotify span {
  font-size: 25px;
  color: #FFFFFF;
}

.home_list {
  width: 100%;
  padding-bottom: 20px;
}


.menu {
  padding-bottom: 12px;
}
.menu:first-child .text,
.menu:first-child i {
  color: #FFFFFF;
}
.menu:hover i {
  color: #FFFFFF;
}

.menu:hover .text {
  color: #FFFFFF;
}
.icon {
  float: left;
  width: 15%;
  cursor: pointer;

}
.icon i {
  font-size: 20px;
}

.text {
  float: left;
  width: 70%;
  font-size: 15px;
  cursor: pointer;
}

.playlist {
  height: 200px;
}

.playlist span:hover span{
  color: #FFFFFF;
}
.playlist span:hover i{
  color: #FFFFFF;
}



#list_playlist {
  height: 100%;
  overflow-y: auto;
}
#list_playlist li:hover {
  color: #FFFFFF;
}

.playlist i {
  font-size: 40px;
  margin-top: 5px;
  margin-right: 20px;
  cursor: pointer;
}
.playlist li {
  margin: 10px 0px;
  cursor: pointer;
}


#plus {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#plus span {
  cursor: pointer;
}

.footer_nav {
  line-height: 30px;
  font-size: 14px;
}
.footer_nav i,
.footer_nav span {
  cursor: pointer;
  margin-right: 10px;
}

#installa_app:hover i {
  color: #FFFFFF;
}
#installa_app:hover span {
  color: #FFFFFF;
}

.white_jd {
  color: white;
}









.big_main {
  height: 100%;
  width: calc(100% - 250px);
  background-color: #141922;
  overflow-y: scroll;
}

.upgrade {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  width: calc(100% - 250px);
  padding: 0 60px;
  background-color: rgba(8, 11, 18, 0.7);
  z-index: 1;
}
.upgrade h5 {
  border: 1px solid #FFFFFF;
  padding: 10px 30px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #080B12;
}
.upgrade h5:hover {
  transform: scale(1.1, 1.1);
}

#main_menu {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 80px;
  width: 80%;
}

#main_menu li {
  padding: 0 10px;
}
#main_menu a {
  text-decoration: none;
}
#main_menu li a:hover {
  color: #FFFFFF;
}

#evidenza {
  display: inline-block;
  position: relative;
}

#evidenza::after {
  content: "";
  display: block;
  height: 2px;
  margin-left: 30px;
  width: 30%;
  background-color: #ADFF2F;

}

.albums {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.album {
  width: calc(100% / 6 - 10px);
  margin: 0 5px;
  padding: 20px 10px;
  background-color: #181818;
}

.img_container {
  position: relative;
  width: 100%;
}

.album img {
  width: 100%;
  padding: 10px;
}

.circle {
  border-radius: 50%;
}

.title {
  padding-top: 10px;
  text-align: center;
  line-height: 25px;
}

.layover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.2);
}
.layover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  color: #FFFFFF;
  cursor: pointer;
}

.img_container:hover .layover {
  display: block;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #282828;
}

.info_song {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 100%;
}
.info_song img {
  width: 25%;
}
.artist_title {
  padding-right: 30px;
}
.artist_title h6:hover {
  color: #FFFFFF;
  text-decoration: underline;
  cursor: pointer;
}
.info_song i:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.player {
  width: 40%;
  height: 100%;

}
.player_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  padding: 5px 150px;
}
.player_top i {
  font-size: 15px;
  color: #FFFFFF;
  cursor: pointer;
}
.player_top i:nth-child(3) {
  font-size: 25px;
}
.player_top i:nth-child(3):hover {
  transform: scale(1.2,1.2);
}
.player_bottom {
  height: 50%;
}
.player_bottom span {
  padding: 0 10px;
}
.song_status {
  display: inline-block;
  height: 4px;
  width: 75%;
  border-radius: 10px;
}

.player_bottom:hover .white {
  background-color: #ADFF2F;
}
.player_bottom:hover .white::before {
  display: block;
}
.white {
  position: relative;
  float: left;
  width: 40%;
  height: 100%;
  background-color: white;
}
.white::before {
  content: "";
  display: none;
  position: absolute;
  top: -100%;
  right: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.grey {
  float: left;
  width: 60%;
  height: 100%;
  background-color: grey;
}

.control_volume {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100%;
}
#volume_status {
  display: inline-block;
  height: 4px;
  width: 40%;
  border-radius: 10px;
  background-color: white;
}

.control_volume:hover .white {
  background-color: #ADFF2F;
}
.control_volume:hover .white::before {
  display: block;
}


.control_volume i {
  padding: 0 10px;
  color: #FFFFFF;
  cursor: pointer;
}



/* NOTE: MEDIA QUERY */

/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

  .album {
    width: calc(100% / 4 - 10px);
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  .album {
    width: calc(100% / 2 - 10px);
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .album {
    width: calc(100% / 2 - 10px);
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  nav {
    height: 100%;
    width: 90px;
  }

  .upgrade {
  width: calc(100% - 90px);  
  }

  .big_main {
    height: 100%;
    width: calc(100% - 90px);
  }

  .hidden_xs {
    display: none;
  }
}
