* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  color: #FFFFFF;
}

.wrapper {
  display: flex;
  height: calc(100vh - 90px);
  width: 100%;
}

nav {
  height: 100%;
  width: 250px;
  padding: 20px 30px;
  background-color: #000000;
  z-index: 1;
}
nav i {
  font-size: 40px;
}
.logo_spotify {
  font-size: 25px;
}

.big_main {
  height: 100%;
  width: calc(100% - 250px);
  background-color: #141922;
  overflow-y: scroll;
}

.upgrade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  padding: 0 60px;
  background-color: rgba(8, 11, 18, 0.7);
}

.upgrade h5 {
  background-color: #080B12;
  border: 1px solid #FFFFFF;
  padding: 10px 30px;
  border-radius: 25px;
  cursor: pointer;
}

footer {
  height: 90px;
  background-color: #282828;
}
